body
 {
    background: url('http://www.1wallpaperhd.com/wp-content/uploads/Sports/FTP1/1280x720/Green%20football%20stadium%20Wallpapers%20HD%201280x720.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
	}
	
	.responsive-image{
        height:auto;
        width:100%;
    }
	
	.responsive-profile{
	height:200px;
	width:200px;
	}

	.jumbotron{ border-style: solid;
			border-width:15px;
			border-color:#08af08;
		margin-left:auto;
		margin-right:auto;
		width: 80%;
		height:1000px;
		background-color:white;
			
			}

			#footer{height: 60px;
		background-color: white;
		margin-left: auto;
          margin-right: auto;
		  
       
 }
 
 h3{font-weight:bold;}
h2{background-color:#197b30;
	font-weight: bold;
	color:white;
	text-align:center;}
	
	h4{font-weight:bold;
	}
 
 #social{ float: right;
			margin: 10px;}

		
		.datearticle{
   
	text-align: right;
}

.bs-example{
    	margin: 20px;
    }