body {
    background-color: #197b30;
	}
	
	.responsive-image{
        height:auto;
        width:100%;
    }

	.jumbotron{ border-style: solid;
			border-width:15px;
			border-color:#08af08;
		margin-left:auto;
		margin-right:auto;
		width: 90%;
		height:1000px;
		background-color:white;
			
			}

			#footer{height: 60px;
		background-color: white;
		margin-left: auto;
          margin-right: auto;
		  
       
 }
 
 h3{font-weight:bold;}
h2{background-color:#1919A3;
	font-weight: bold;
	color:white;
	text-align:center;}
	
	h4{font-weight:bold;
	}
 
 #social{ float: right;
			margin: 10px;}

		
		.datearticle{
   
	text-align: right;
}

.bs-example{
    	margin: 20px;
    }